.signupForm {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 60%;
    }
    .MuiFormControl-fullWidth {
        .MuiFormControl-root {
            width: 80%;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            width: 60%;
        }
    }
}
