

.footer{
    background-color: #313245;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    .footerContent{
      max-width: 1152px;
      display: flex;
      flex-direction: column;
      margin: 3% 5%;
      p{
        width: 63%;
        text-align: left;
        color: white;
      }
      h5{
        text-align: left;
        color: white;
      }
      img{
        width: 91px;
        height: 58px; 
      }
      .contactUs{
        p{
          margin: 0;
        }
        .name{
          font-weight: bold;
        }
        .email{
          text-decoration: underline;
        }
      }

      hr{
        width: 100%;
      }

      .copyright{
        font-family: Open Sans,sans-serif;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: .002rem;
        line-height: 1.5rem;
        color: #b4b7bf;
      }
    }
    
  }