@import "~video-react/styles/scss/video-react";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 96%);
  height: 100%;
  //min-width: 768px;
  width: 100%;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  .home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: #be00bd;
  }
  h1 {
    font-weight: 600;
    color: #000;
    font-size: 3.063rem;
    letter-spacing: -0.01rem;
    line-height: 3.69rem;
  }
  h2 {
    font-weight: 600;
    font-size: 2.438rem;
    color: #000;
    letter-spacing: -0.002rem;
    line-height: 2.75rem;
  }
  h5 {
    font-weight: 400;
    font-size: 1.313rem;
    color: #000;
    letter-spacing: initial;
    line-height: initial;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.002rem;
    line-height: 1.5rem;
    color: #000;
  }
  button{
    background-color: #BE00BD;
    height: 45px;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 10px 40px !important;
    -webkit-appearance: none;
    font-size: 1.313rem !important;
    font-weight: 400 !important;          
    }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) and (min-width: 320px)  {
  .App {
    width: 100%;
    //max-width: 480px;
    h1{
      font-size: 2.438rem;
      letter-spacing: -0.002rem;
      line-height: 2.75rem;
    }
    h2{
      font-size: 1.938rem;;
    }
  }
}
